@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para navegadores basados en WebKit */
::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento vertical */
  height: 5px; /* Altura de la barra de desplazamiento horizontal */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del track */
  border-radius: 10px; /* Bordes redondeados del track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color de la parte desplazable */
  border-radius: 10px; /* Bordes redondeados de la parte desplazable */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color de la parte desplazable al pasar el ratón por encima */
}

.fc .fc-button {
  background-color: #3b82f6;
  font-size: 1rem;
  text-transform: capitalize;
  border: none;
}

.fc .fc-button:hover {
  background-color: #1d4ed8;
}

.fc .fc-button:focus {
  outline: none;
}

/* Archivo: dark-mode-fullcalendar.css */

/* Estilo global para modo oscuro */
.dark .fc {
  color: #dcdcdc;
}

/* Estilos para la cabecera del calendario */
.dark .fc .fc-toolbar .fc-button {
  background-color: #3b82f6;
  border: 1px solid #555;
  color: #dcdcdc;
}

.dark .fc .fc-toolbar .fc-button:hover {
  background-color: #1d4ed8;
  border-color: #666;
}

/* Estilos para el contenido del calendario */

.dark .fc .fc-daygrid-day.fc-day-today {
  background-color: #1d4ed8
}

.dark .fc .fc-daygrid-day.fc-day-future {
  color: #dcdcdc;
}

/* Estilos para los días del mes */
.dark .fc .fc-daygrid-day-number {
  color: #dcdcdc;
}

/* Estilos para los títulos */
.dark .fc .fc-col-header-cell {
  /* background-color: #2d2d2d; */
  border-bottom: 1px solid #444;
  color: #dcdcdc;
}

.dark .fc .fc-col-header-cell-cushion {
  color: #dcdcdc;
}

/* Estilos para los botones de navegación */
.dark .fc .fc-toolbar-title {
  color: #dcdcdc;
}
